@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  @apply text-primary-base;
}

p {
  @apply leading-loose;
}
* {
  box-sizing: border-box;
}

.page-wrapper {
  @apply -mt-24 h-full font-sans;
}

.homepage .highlight {
  @apply text-primary-base;
}

/* Header */

.logo {
  @apply pl-6 border-l-8 border-primary-base;
}

.logo a {
  @apply text-2xl font-bold font-serif text-primary-darkest hover:text-primary-darkest md:text-3xl lg:text-4xl;
}

.nav-link {
  @apply text-sm uppercase px-4 font-sans transition ease-in-out duration-100 text-grey-400 hover:text-primary-base;
}

.nav-link.active {
  @apply text-primary-darkest;
}

.nav-link.active,
.homepage .nav-link.active {
  @apply font-black;
}

.header-container {
  @apply container h-full flex items-center justify-between;
}

/* Header: Homepage */

.homepage .logo {
  @apply border-light;
}

.homepage .logo a {
  @apply text-light hover:text-white;
}

.homepage .nav-link {
  @apply text-light hover:text-white;
}

.homepage .nav-link.active {
  @apply text-white;
}

/* Titles */

.title {
  @apply text-3xl text-dark dark:text-light font-serif font-bold my-16;
}

.banner-title {
  @apply text-[2rem] text-white w-full font-serif font-extrabold leading-relaxed md:text-6xl lg:text-7xl 2xl:text-9xl;
}

.section-title {
  @apply inline-block overflow-hidden text-5xl sm:text-7xl lg:text-9xl text-dark font-serif font-bold pb-4 mb-4 relative z-1 xl:mb-8 xl:pb-8;
}

.intro .section-title:nth-child(2) {
  @apply mb-8;
}
.overlay-span {
  white-space: nowrap;
}

.overlay-span::after {
  content: "";
  @apply absolute -right-2 w-2 h-full bg-secondary-base top-0;
}

/* 
.section-title::after {
  content: "";
  @apply absolute -top-1/4 left-0 w-[200px] h-[200px] border-8 rounded-full bg-secondary-base border-secondary-base -z-1;
} */

.strapline {
  @apply text-xl text-white leading-normal mt-4 font-light lg:mt-8 lg:text-2xl w-full sm:w-[500px] lg:w-[600px] 2xl:w-[800px];
}

/* Banners and Overlays */

.banner-content {
  @apply w-full md:w-[600px] lg:w-[700px] 2xl:w-3/4;
}

.overlay {
  @apply absolute top-0 left-0 w-full h-full bg-primary-darkest bg-opacity-70 bg-gradient-to-b from-black z-1 flex items-center justify-center;
}

/* Content */

.markdown h2,
h3 {
  @apply text-2xl;
}
